.menu {
  background-color: #D5B0AC;
  font-weight: bold;
  height: 30px;
  text-align: center;
}

nav > span{
  height: 30px;
  width: 100px;
  display: inline-block;
  color: #402E2A;
  line-height: 30px;
  cursor: pointer;
}

nav > span:hover{
  background-color: #9CD08F;
  color: #FFFFFF;
}

.menu_vertical {
  width: 100px;
  display: block;
  margin-top: 10px;
}

.menu_vertical > span {
  background-color: #D5B0AC;
  font-weight: bold;
  height: 30px;
  text-align: center;
  display: block;
  margin-top: 2px;
}
