    <h1> About </h1>
    <h2> Lind and Friends team</h2>
    <h3> Team captain : LINH</h3>
    <img id="my-face" src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/12717928_735444449925317_690561526535870400_n.jpg?oh=40ebc431cb65271f639407bb59bbba2b&oe=5A20F518" alt="Linh">

    <ol id="personal-info">
      <li>Thông tin cơ bản
        <ul>
          <li>Năm sinh : 1997</li>
          <li>Giới tính : Nam</li>
          <li>Đại học Bách Khoa Hà Nội</li>
        </ul>
      </li>
      <li>Đặc điểm
        <ul>
          <li>Đẹp trai rạng ngời</li>
          <li>Thông minh xuất chúng</li>
        </ul>
      </li>
    </ol>

{{#each questionList}}
{{/each}}
