<h1>Enter a yes/no question of your choice</h1>
<form method="post" action="/question/api/question">
  <div class='form-group'>
    <textarea class="form-control" rows="6" type='text' name='question'></textarea>
  </div>
    <button type='submit' class='btn btn-primary' />Send</button>
</form>
