<div class='row text-center'>
  <h1>{{str}}</h1>
</div>
<div class='col-xs-6 text-center jumbotron'>
  <h3>Number of yes: {{yes}}</h3>
</div>
<div class='col-xs-6 text-center jumbotron'>
  <h3>Number of no: {{no}}</h3>
</div>
