<p>Choose question id (from {{qId.start}} to {{qId.end}})</p>
<form method="post" action='/question/question-result'>
  <input type="number" name="id" placeholder="Question id..." />
  <input type='submit' />
</form>
