<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <nav class="menu">
      <a href='/index.html'><span>Sub</span></a>
      <a href='/about.html'><span>Sub</span></a>
      <a href='/lorem-ipsum'><span>Source Code</span></a>
      <!-- <span>Item 4</span> -->
    </nav>
    {{{body}}}
  </body>
</html>
